:root {
    --theme-width: 90%;
    --theme-bg-colour: 255 255 255;
    --theme-bg-opacity: 75%;
    --theme-text-colour: 0 0 0;
    --theme-font-size: 16px;
}





/* Main section */
body {
    display: flex;
    margin: 0px;
    height: 100vh;
    font-family: Calibri, 'Trebuchet MS', sans-serif;
    font-size: var(--theme-font-size);
    background-image: url("assets/bg/4.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    color: rgb(var(--theme-text-colour));
}

body.enable-colour-transitions {
    transition-property: color;
    transition-duration: 0.5s;
}

main {
    display: block;
    width: var(--theme-width, 90%);
    margin: auto;
    background-color: rgb(var(--theme-bg-colour) / var(--theme-bg-opacity));
    border-radius: 2em;
    padding: 0.5em;
    backdrop-filter: blur(5px);
}

.enable-colour-transitions main {
    transition-property: background-color;
    transition-duration: 0.5s;
}


/* Dropdowns */
.dropdown {
    width: 100%;
    position: relative;
}

.dropdown-button {
    border: rgb(var(--theme-text-colour)) solid 1px;
    display: block;
    padding: 0.25em;
    background: rgb(var(--theme-bg-colour));
}

.dropdown-button::after {
    content: "▼";
    float: right;
    border-left: rgb(var(--theme-text-colour)) solid 1px;
}

.dropdown .dropdown-options {
    display: none;
    position: absolute;
    background: rgb(var(--theme-bg-colour) / 75%);
    width: calc(100% - 2px);
    backdrop-filter: blur(10px);
    border: solid rgb(var(--theme-text-colour)) 1px;
    border-top: none;
}

.enable-colour-transitions .dropdown-button, .enable-colour-transitions .dropdown-options {
    transition-property: background-color;
    transition-duration: 0.5s;
}

.dropdown.active .dropdown-options {
    display: block;
}

.dropdown .dropdown-options * {
    padding: 0.25em;
    background-color: #80808000;
}

.enable-colour-transitions .dropdown .dropdown-options * {
    transition-property: background-color;
    transition-duration: 0.5s;
}

.dropdown .dropdown-options *:hover {
    background-color: #80808080;
}


/* Sliders */
.slider {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.slider input[type=range] {
    width: 100%;
}


/* Settings menu */
#settings-button {
    position: fixed;
    display: block;
    right: 1em;
    top: 1em;
    width: 3em;
    height: 3em;
    background-color: rgb(var(--theme-bg-colour) / var(--theme-bg-opacity));
    color: rgb(var(--theme-text-colour));
    backdrop-filter: blur(10px);
    cursor: pointer;
}

.enable-colour-transitions #settings-button {
    transition-property: color, background-color;
    transition-duration: 0.5s;
}

#settings-button:hover {
    background-color: rgb(var(--theme-text-colour) / var(--theme-bg-opacity));
    color: rgb(var(--theme-bg-colour));
}

#settings-menu-container {
    --settings-menu-width: 25%;
    --settings-menu-padding: 0.5em;
    position: fixed;
    display: flex;
    flex-flow: column;
    right: calc(var(--settings-menu-width) * -1 - var(--settings-menu-padding) * 2);
    top: 0px;
    width: var(--settings-menu-width);
    height: 100vh;
    background-color: rgb(var(--theme-bg-colour) / var(--theme-bg-opacity));
    backdrop-filter: blur(10px);
    transition-property: right;
    transition-duration: 0.5s;
    transition-timing-function: cubic-bezier(0.25, 1, 0.5, 1); /* Quart out */
    padding-left: var(--settings-menu-padding);
    padding-right: var(--settings-menu-padding);
}

.enable-colour-transitions #settings-menu-container {
    transition-property: right, background-color;
    transition-timing-function: cubic-bezier(0.25, 1, 0.5, 1), ease;
}

#settings-container.open #settings-menu-container {
    right: 0%;
}

#settings-menu {
    overflow-y: scroll;
    padding-left: 1em;
    padding-right: 1em; 
    height: 100%;
}

.setting > input[type=number] {
    width: 100%;
}

.setting.hidden {
    display: none !important;
}